:root {
  --primary-color: #1d5888;
  --secondary-color: #ff993b;
  --dark-color: #292929;
  --light-color: #dff3e4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

nav {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.sticky-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

body {
  color: var(--dark-color);
}

main {
  .hidden {
    display: none;
  }
  .container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
  }

  .brand {
    font-size: 1.3rem;
  }

  .fab {
    color: var(--light-color);
  }

  .checklist > li i {
    color: var(--secondary-color);
  }

  .fab:hover {
    opacity: 0.9;
    color: var(--secondary-color);
  }

  .bsicon {
    color: #7911f2;
  }

  .jsicon {
    color: #f0db4f;
  }

  .html5icon {
    color: #f75421;
  }

  .cssicon {
    color: #0168ba;
  }
}

.label-container {
  input {
    width: 50%;
  }
}

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.copyright {
  padding: 0;
  margin: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
